In [1]:
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import random
from datetime import datetime
import numpy as np
import re
import os
import geopandas as gpd


font_path = r'C:/Users/user/NanumFontSetup_TTF_ALL/NanumGothic.ttf'
font_name = font_manager.FontProperties(fname=font_path, size=18).get_name()
rc('font',family=font_name)

In [5]:
preprocessing_path = './data/전처리 파일'
building_old = pd.read_csv(os.path.join(preprocessing_path,'건물노후도/주소별 건물노후도.csv'))
address = pd.read_csv(os.path.join(preprocessing_path,'표제부 정제파일(위치).csv'))

In [6]:
building_old

,대지위치,건물명,연면적,주용도코드,주용도코드명,사용승인일,건물노후도
0,인천광역시 부평구 부평동 10-1001번지,대성빌라,657.11,02000,공동주택,1991-12-27,362
1,인천광역시 부평구 부평동 10-1002번지,대성타운,657.61,02000,공동주택,1991-12-27,362
2,인천광역시 부평구 부평동 10-1003번지,대성빌라,657.61,02000,공동주택,1992-09-29,349
3,인천광역시 부평구 부평동 10-1004번지,NaN,488.10,03000,제1종근린생활시설,1991-11-22,361
4,인천광역시 부평구 부평동 10-1007번지,NaN,386.88,03000,제1종근린생활시설,1991-11-22,361
...,...,...,...,...,...,...,...
19094,인천광역시 부평구 구산동 9-5번지,NaN,1247.41,01000,단독주택,1980-08-18,494
19095,인천광역시 부평구 구산동 9-5번지,NaN,35.87,01000,단독주택,1989-04-06,390
19096,인천광역시 부평구 구산동 93-1번지,보보주유소,84.33,04000,제2종근린생활시설,2006-07-05,183
19097,인천광역시 부평구 구산동 95-1번지,NaN,951.44,03000,제1종근린생활시설,2012-10-12,108
19098,인천광역시 부평구 구산동 산 8-2번지,NaN,60.50,01000,단독주택,1979-01-08,513

In [17]:
merge_data = building_old.merge(address,how='inner',left_on='대지위치',right_on='address')
merge_data.isnull().sum()

대지위치             0
건물명          14458
연면적              0
주용도코드            0
주용도코드명           0
사용승인일            0
건물노후도            0
address          0
latitude        13
longitude       13
dtype: int64

In [18]:
merge_data.columns

Index(['대지위치', '건물명', '연면적', '주용도코드', '주용도코드명', '사용승인일', '건물노후도', 'address',
       'latitude', 'longitude'],
      dtype='object')

In [19]:
merge_data.drop('건물명',axis=1,inplace=True)
merge_data.dropna(inplace=True)

In [20]:
merge_data.isnull().sum()

대지위치         0
연면적          0
주용도코드        0
주용도코드명       0
사용승인일        0
건물노후도        0
address      0
latitude     0
longitude    0
dtype: int64

In [37]:
merge_data['주용도코드명'].unique()

array(['공동주택', '제1종근린생활시설', '제2종근린생활시설', '단독주택', '근린생활시설', '업무시설', '의료시설',
       '판매시설', '판매및영업시설'], dtype=object)

In [21]:
merge_data.to_csv(os.path.join(preprocessing_path,'건물노후도(위치포함).csv'),index=False)

## 기초구역별 건물노후도 집계

In [24]:
data = gpd.read_file(os.path.join(preprocessing_path,'건물노후도/기초구역별_건물노후도(집계전)_5181.shp'))
data

,BAS_AR,BAS_ID,BAS_MGT_SN,CTP_KOR_NM,MVMN_DE,MVMN_RESN,NTFC_DE,OPERT_DE,SIG_CD,SIG_KOR_NM,대지위치,연면적,주용도코드,주용도코_1,사용승인일,건물노후도,address,latitude,longitude,geometry
0,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 235번지,3.31,01000,단독주택,1981-02-18,488.0,인천광역시 부평구 일신동 235번지,37.478742,126.739664,"POLYGON ((176641.304 442645.152, 176647.527 44..."
1,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 385번지,92.56,01000,단독주택,1970-01-13,621.0,인천광역시 부평구 일신동 385번지,37.473992,126.745066,"POLYGON ((176641.304 442645.152, 176647.527 44..."
2,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 산 11번지,131.76,03000,제1종근린생활시설,1989-10-25,384.0,인천광역시 부평구 일신동 산 11번지,37.477358,126.736085,"POLYGON ((176641.304 442645.152, 176647.527 44..."
3,0.156212,21384,2823700061,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 산곡동 307-108번지,43.60,01000,단독주택,1974-04-02,570.0,인천광역시 부평구 산곡동 307-108번지,37.489994,126.706784,"POLYGON ((174332.882 443549.806, 174341.717 44..."
4,0.156212,21384,2823700061,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 산곡동 307번지,8030.40,02000,공동주택,1986-09-15,421.0,인천광역시 부평구 산곡동 307번지,37.489994,126.706784,"POLYGON ((174332.882 443549.806, 174341.717 44..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19083,0.249155,21432,2823700024,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 부평동 산 40-5번지,42.32,01000,단독주택,1985-07-31,435.0,인천광역시 부평구 부평동 산 40-5번지,37.482145,126.715679,"POLYGON ((174941.445 442603.951, 174999.172 44..."
19084,0.249155,21432,2823700024,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 부평동 산 40-5번지,6.00,01000,단독주택,1985-08-08,434.0,인천광역시 부평구 부평동 산 40-5번지,37.482145,126.715679,"POLYGON ((174941.445 442603.951, 174999.172 44..."
19085,0.249155,21432,2823700024,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 부평동 산 40-5번지,6.00,01000,단독주택,1985-09-04,433.0,인천광역시 부평구 부평동 산 40-5번지,37.482145,126.715679,"POLYGON ((174941.445 442603.951, 174999.172 44..."
19086,0.249155,21432,2823700024,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 부평동 산 40-5번지,49.04,01000,단독주택,1985-09-16,433.0,인천광역시 부평구 부평동 산 40-5번지,37.482145,126.715679,"POLYGON ((174941.445 442603.951, 174999.172 44..."
19087,0.249155,21432,2823700024,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 부평동 산 40-7번지,70.45,01000,단독주택,1985-07-30,435.0,인천광역시 부평구 부평동 산 40-7번지,37.482145,126.715679,"POLYGON ((174941.445 442603.951, 174999.172 44..."

In [32]:
basis_area = data[['BAS_ID','geometry']].drop_duplicates('BAS_ID',keep='first',ignore_index=True)
basis_area

    BAS_ID                                           geometry
0    21459  POLYGON ((176641.304 442645.152, 176647.527 44...
1    21384  POLYGON ((174332.882 443549.806, 174341.717 44...
2    21403  POLYGON ((176460.207 443392.656, 176503.040 44...
3    21447  POLYGON ((173371.315 442923.042, 173431.784 44...
4    21421  POLYGON ((176813.663 442559.317, 176802.418 44...
..     ...                                                ...
156  21423  POLYGON ((176671.251 442643.859, 176686.836 44...
157  21441  POLYGON ((173892.886 442465.677, 173876.623 44...
158  21446  POLYGON ((173718.851 441369.606, 173717.873 44...
159  21453  POLYGON ((173523.162 441167.346, 173522.717 44...
160  21432  POLYGON ((174941.445 442603.951, 174999.172 44...

[161 rows x 2 columns]

In [33]:
agg_building_old = data.groupby('BAS_ID')['건물노후도'].mean().to_frame().reset_index()
agg_building_old = agg_building_old.fillna(0)
agg_building_old

    BAS_ID       건물노후도
0    21300  289.185185
1    21301  321.857143
2    21302  231.745763
3    21303  504.200000
4    21304  413.460177
..     ...         ...
156  21456  235.500000
157  21457  242.477064
158  21458  361.064815
159  21459  497.666667
160  21460    0.000000

[161 rows x 2 columns]

In [34]:
result = agg_building_old.merge(basis_area,how='inner',right_on='BAS_ID',left_on='BAS_ID')
result

    BAS_ID       건물노후도                                           geometry
0    21300  289.185185  POLYGON ((172624.863 447152.276, 172670.940 44...
1    21301  321.857143  POLYGON ((173295.105 447039.530, 173295.147 44...
2    21302  231.745763  POLYGON ((173891.544 446881.024, 173891.543 44...
3    21303  504.200000  POLYGON ((173668.839 446507.436, 173658.833 44...
4    21304  413.460177  POLYGON ((173891.543 446881.019, 173891.500 44...
..     ...         ...                                                ...
156  21456  235.500000  POLYGON ((175340.378 442397.517, 175349.045 44...
157  21457  242.477064  POLYGON ((178051.841 442436.153, 178041.770 44...
158  21458  361.064815  POLYGON ((176592.215 442885.941, 176595.066 44...
159  21459  497.666667  POLYGON ((176641.304 442645.152, 176647.527 44...
160  21460    0.000000  POLYGON ((178740.177 441942.916, 178742.755 44...

[161 rows x 3 columns]

In [35]:
result.to_csv(os.path.join(preprocessing_path,'기초구역별_건물노후도(집계후)_5181.csv'),index=False)